

body{
   background-color:white;
    color:#FF5A00;
    font-style: normal;
    font-size:1em;
    font-family: 'helvetica', sans-serif;
}

.nav {
    border: none;
color: #FF5A00;
/*padding: 1px 120.5px;*/
text-decoration: none;
/*margin: 0px auto;*/
/*margin-bottom: 40px;*/
font-size: 34px;
/*padding: 1 60px;*/
/*position:fixed;*/
    list-style-type:none;
padding-left: 30px;
padding-right:30px;



}
.nav-center{
    /*width:100%;*/
    text-align:center;
    /*display:inline;*/
    /*margin-left:50px;*/
    /*margin-right:5%;*/
    list-style-type:none;
    
}
.nav-li{
    display:inline-block;
    margin-left:0px;
    padding:-50 100;
}
.nav li a {
    display: inline-block;
    text-decoration: none;
    margin: 130px;
    /*margin-bottom: 50px;*/
    border-style: dashed;/
    *margin-bottom: 50px;*/
 
   
   
}
.active {
    font-weight: normal;
    text-decoration:none;
    color:yellow;
}
.services-image {
     float:right;
    padding: 30px;
    margin-right:30px;
    height: 150px;
    width:350px;
}



.image {
    float:left;
    padding: 30px;
    margin-right:30px;
    height: 450px;
}
header,
main,
aside {
    text-align:center;
}   
footer {
    width:  100%;
  
  clear: both;
 
}

events {
      border:#D6B940 solid 3px;
    text-align:center;
  background-color: rgba(9, 2, 13, 1);
   width:  100%;
  height: 100px;
  clear: both;
}

h1 {
  
    border-width: 0px;
}

.img{
 margin-left:680px;
    height: 10px;
}
.index-content {
    float:right;
    margin-left:5em;
    margin-right:5em;
    font-size: 2em;
    color: white;
}
.services-st {
    color:white;
    font-size: 3em;
}
.services-content {
    float:right;
    margin-left:5em;
    margin-right:5em;
    font-size: 2em;
    color: white;
}

.picture{
    display:block;
    margin:auto;
    margin:auto;
    
}
.pic{
  float:right;
    font-size: 25px;
}

aside {
    font-size: 1em;
    color: white;
}
.footer-about {
    color: #D6B940;
    font-size:25px;
}

h1 {
 font-family: 'helvetica', sans-serif;;
    background-color:white;
}



footer {
 font-family: 'helvetica', sans-serif;;


    
}

.bar{
      background-color:white;
      height:8%;
}    
    
 h3 {
   font-family: 'helvetica', sans-serif;;
     font-size: 40px;
    color: white;
 }
 
 aside {
font-family: 'helvetica', sans-serif;;
     font-size:1em;
 }
 .center {
     margin:auto;
     width:50%;
     padding:10px;
 }
 .placeholder {
     margin:auto;
     height: 5px;
 }
 
 #section1,#section2,#section3,#section4,#section5,#section6 {
    background-color: #ff8533;
    border: #C79438 solid 3px;
    margin-bottom: 2em;
    color:white;
   

    min-height:100vh;
 }
 
 .fa {
     width:5px;
     height:5px;
 }
 
 
 a:hover { 
    background-color: #EBB33D;
    color: white;
}

services {
    margin-top:400px;
}

nav {
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 0px;
    padding: 10px;
    border-style: solid;
    padding-right:2px;
    padding-left: 2px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 200px; /* bottom = footer height */
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 100px;
    width: 100%;
    background-color: #EBB33D;
    
}
.image-wide{
    width:100%;
    margin: 0px;
    
} 
    
.about {
    padding
}




.p {
    color: white;
    font-size:1em;
}

.sales-content {
    color: white;
    font-size: 2em;
    margin-right:50px;
}
.about-content{
    color:white;
    font-size:2em;
    margin-right:150px;
    margin-left:150px;
}
.events-content{
    color:white;
    font-size:2em;
}
.class-content{
    color:white;
    font-size:20px;
}    

.fa {
    width:20px;
    height:20px;
}    
    


